<% cache @topics do %>
	<div class="box">
		<div class="topics">
			<%= render @topics %>
		</div>
	</div>
<% end %>

<%= paginate @topics %>

<% cache @sections do %>
	<div class="box">
		<ul class="unstyled sections">
			<h2 class="center">讨论节点分类导航</h2>
			<hr>
			<%= render @sections %>
		</ul>
	</div>
<% end %>

